# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Matches your 'virenv' folder)
virenv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Node files (since you have accidental npm files)
node_modules/
package-lock.json